@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/*
font-family: 'Red Hat Display', sans-serif;
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-position-y: top -10px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.img{
    display: block;
}
.card{
    background-color: hsl(225, 100%, 98%);
    max-width: 440px;
    height: 650px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: -2px 2px 88px 9px hsl(224, 23%, 55%);
    display: flex;
    flex-direction: column;
}
.card>img{
    display: block;
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.order{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.texte{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texte>h1{
    font-weight: 700;
}
.texte>p{
    font-size: 16px;
    text-align: center;
    width: 70%;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}
.plan{
    background-color: hsl(225, 100%, 94%);
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top-plan{
    display: flex;
}
.top-plan>img{
    margin-right: 10px;
    border: 1px solid;
    border-color: hsl(225, 100%, 94%);
    border-radius: 50px;
    background-color: hsl(225, 100%, 98%);
}
.annual{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    padding: 10px;
    margin: 5px;
    height: 50px;
    width: 80%;
    border-radius: 10px;
}
.btns{
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn1{
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
}
.btn2{
    background-color: transparent;
    color: hsl(245, 75%, 52%);
    border: none;
}
.attribution{
    font-size: 11px;
    text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}