@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    max-width: 850px;
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    background-position: top, left;
    background-repeat: no-repeat;
    min-width: 100vw;/* valeure proportionnelle à la largeur*/
    min-height: 100vh;/* valeure proportionnelle à la hauteur*/
}
header{
    display: block;
    justify-content: left;
    align-items: center;
}
header>img{
    margin-left: 60px;
}
.page{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.left{
    margin-top: 55px;
    margin-left: 60px;
}
.left>img{
    width: 550px;
}
/*
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;

*/
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
    width: 250px;
}
.right>h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: whitesmoke;
}
input{
    width: 115px;
    height: 45px;
    border-radius: 30px;
    margin-top: 10px;
    color: hsl(300, 69%, 71%);
}
input:hover{
    background-color: hsl(300, 69%, 71%);
    color: whitesmoke;
}
.bottom{
    display: flex;
    justify-content: right;
}
.bottom>img{
    padding: 5px;
}
.attribution{
    font-size: 11px; text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}