@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
/*
font-family: 'Manrope', sans-serif;
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.card{
    font-family: 'Manrope', sans-serif;
    width: 900px;
    height: 400px;
    background-color: hsl(210, 46%, 95%);
    border: 1px solid transparent;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 0 25px 2px #CCC;
    display: flex;
    justify-content: space-around;
}
.left{
    width: 100%;
    display: flex;
}
.left>img{
    display: block;
    border-radius: 15px 0 0 15px;
    width: 100%;
}
.right{
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bottom-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.avatar>img{
    width: 75px;
    border-radius: 50%;
}
.share{
    width: 200px;
    height: 50px;
    background-color: hsl(217, 19%, 35%);
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}
ul{
    list-style-type: none;
    display: flex;
}
li>a{
    padding: 5px;
}
.titre{
    font-size: 26px;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}
.texte{
    font-size: 13px;
    font-weight: 500;
    color: hsl(212, 23%, 69%);
}
.attribution{
    font-size: 11px;
    text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 160px) and (max-width: 900px) {
    
}