@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex: 1 1 auto;
}
.card{
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    max-width: 350px;
}
.ether>img{
    display: block;
    padding: 15px;
    border-radius: 25px;
    width: 100%;
}
.info{/*pas touche!*/
    display: flex;
    flex-direction: column;
    line-height: 1.8em;
    padding: 10px;
}
.valeur{/*pas touche!*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block{
    display: flex;/*pas touche!*/
}
.author{
    display: flex;
    align-items: center;
}
.author>img{
    padding: 15px;
    max-width: 25%;
}
.attribution{
    font-size: 11px; text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}